
@font-face {
  font-family: 'Arial';
  src: url('/fonts/custom-font.woff2') format('woff2'),
       url('/fonts/custom-font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Arial', sans-serif;
}


.navbar {
  display: flex;
  justify-content: center;
  gap: 1rem;
  background-color: #f7f7f7;
  padding: 1rem;
}

.nav-link {
  color: #0565d2;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: #005bb5;
  color: #f7f7f7;
}

main {
  padding: 2rem;
}


button:disabled {
  background-color: #e0e0e0;  /* Light grey background */
  color: #9e9e9e;             /* Grey text color */
  cursor: not-allowed;        /* Disabled cursor */
  border: 1px solid #d0d0d0;  /* Light border */
  opacity: 0.6;               /* Slightly transparent */
  pointer-events: none;       /* Prevents any interaction */
}


button{
  padding:7px 10px;
}




/* Styling for the login/logout buttons */
.auth-buttons {
  display: flex;
  align-items: center;
}

.auth-button {
  background-color: #4a90e2;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  margin-left: 10px;
}

.auth-button:hover {
  background-color: #357ab7;
}

.auth-button.logout {
  color: #c9302c;
  background-color: transparent;
}

.auth-button.logout:hover {
  background-color: #b12b27;
  color: white;
}